<li class="nav-dropdown-container ecosystem">
  <a class="nav-link">Ecosystem</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><h4>Help</h4></li>
    <li><ul>
        <li><a href="https://github.com/DML308/COStream/issues" class="nav-link" target="_blank">Forum</a></li>
    </ul></li>
    <li><h4>Tool</h4></li>
    <li>
      <ul>
        <li><a href="https://try.costream.site" class="nav-link" target="_blank"> Dev Online</a></li>
        <li><a href="https://costream.site" class="nav-link" target="_blank">Highlight Plugin</a></li>
      </ul>
    </li>
    <li><h4>Core Libraries</h4></li>
    <li><ul>
<!--    via 陈铭涛-->
      <li><a href="#" class="nav-link" target="_blank">GPU Computing</a></li>
<!--    via 李平然-->
      <li><a href="#" class="nav-link" target="_blank">Dynamic Scheduling</a></li>
<!--    via null-->
      <li><a href="#" class="nav-link" target="_blank">Gragh Partition</a></li>
    </ul></li>
    
    <li><h4>Resource Lists</h4></li>
    <li><ul>
      <li><a href="https://github.com/DML308/COStream" class="nav-link" target="_blank">Official Repos</a></li>
    <li><h4>Associated Links</h4></li>
    <li><ul>
        <li><a href="http://www.hust.edu.cn" class="nav-link" target="_blank">HUST</a></li>
        <li><a href="http://media.hust.edu.cn" class="nav-link" target="_blank">DML</a></li>
        <li><a href="http://faculty.hust.edu.cn/yujunqing/zh_CN/index.htm" class="nav-link" target="_blank">Mater Enrollment</a></li>
        </ul></li> 
    </ul></li>
  </ul>
</li>
